header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.45fr 0.55fr;
  grid-template-areas: 'introduction''essential';
  height: 100vh;
  overflow: hidden;

  section.top-bar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: #fff;
    transition: background-color .3s .1s linear, transform .3s ease;
    will-change: transform;

    div.hamburger {
      padding: 12px 24px;

      span,
      span::after {
        content: '';
        display: block;
        width: 22px;
        height: 1px;
        background-color: #000;
        transition: transform .2s .1s linear, background-color .1s linear;
      }

      span::after {
        transform: translateY(6px)
      }
    }
  }

  section.top-bar.on {
    background-color: transparent;

    div.hamburger {

      span,
      span::after {
        background-color: #fff;
      }

      span {
        transform: rotate(45deg)
      }

      span::after {
        transform: translate(0) rotate(-90deg)
      }
    }
  }

  section.introduction {
    grid-area: introduction;
    justify-self: center;
    align-self: center;
    z-index: -1;

    div.container {
      overflow: hidden;

      h1,
      h2 {
        font-weight: 400;
        text-align: center;
        transform: translateY(100%);
      }

      h1 {
        font-size: 20px;
        padding-bottom: 8px;
        animation: slideUp .3s .3s ease-out both;
      }

      h2 {
        font-size: 34px;
        line-height: 1.1em;
        text-transform: uppercase;
        animation: slideUp .3s ease-out both;
      }
    }
  }

  section.essential {
    grid-area: essential;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 10px 20px;
    transform: translateY(105%);
    animation: slideUp .3s .6s ease-out both;

    div.features {
      p {
        font-size: 15px;
        line-height: 1.6em;
        font-weight: 300;
      }
    }

    div.social-media {
      a {
        margin-right: 8px;

        img {
          height: 30px;
          width: 30px;
        }
      }

      a:nth-last-of-type(1) {
        margin-right: 0;
      }
    }
  }

  @media (orientation: landscape) {
    section.essential {
      flex-flow: row-reverse wrap;
      align-items: center;

      div.social-media {
        align-self: flex-end;

        a {
          img {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
  }

  @media (min-width: 360px) and (orientation: portrait) {
    grid-template-rows: 1.5fr 0.5fr;

    section.introduction {
      div.container {
        h1 {
          font-size: 22px;
        }

        h2 {
          font-size: 36px
        }
      }
    }

    section.essential {
      div.features {
        p {
          font-size: 17px;
        }
      }

      div.social-media {
        a {
          img {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
  }

  @media (min-width: 730px) and (orientation: landscape) {
    section.introduction {
      div.container {
        h1 {
          font-size: 22px;
        }

        h2 {
          font-size: 36px
        }
      }
    }

    section.essential {
      div.features {
        p {
          font-size: 18px;
        }
      }

      div.social-media {
        a {
          img {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

  @media(min-width: 768px) and (orientation: portrait) {
    section.top-bar {
      div.hamburger {
        padding: 20px 24px;

        span,
        span::after {
          width: 34px;
          height: 2px;
        }
      }
    }

    section.introduction {
      div.container {
        h1 {
          font-size: 36px;
        }

        h2 {
          font-size: 54px;
        }
      }
    }

    section.essential {
      margin: 20px 40px;

      div.features {
        p {
          font-size: 26px;
        }
      }

      div.social-media {
        a {
          margin-right: 14px;

          img {
            height: 50px;
            width: 50px;
          }
        }

        a:nth-last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }

  @media(min-width: 1024px) and (orientation: portrait) {
    section.top-bar {
      height: 100px;

      div.hamburger {
        padding: 30px 30px;

        span,
        span::after {
          width: 45px;
          height: 2px;
        }

        span::after {
          transform: translateY(10px)
        }
      }
    }

    section.introduction {
      div.container {
        h1 {
          font-size: 50px;
        }

        h2 {
          font-size: 78px;
        }
      }
    }

    section.essential {
      margin: 20px 40px;

      div.features {
        p {
          font-size: 34px;
        }
      }

      div.social-media {
        a {
          margin-right: 24px;

          img {
            height: 70px;
            width: 70px;
          }
        }

        a:nth-last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }

  @media(min-width: 1024px) and (orientation: landscape) {
    grid-template-rows: 1.6fr 0.4fr;

    section.top-bar {
      display: none;
    }

    section.introduction {
      div.container {
        h2 {
          font-size: 56px;
        }
      }
    }

    section.essential {
      margin: 10px 60px;

      div.features {
        p {
          font-size: 26px;
          line-height: 1.3em;
        }
      }

      div.social-media {
        align-self: center;

        a {
          margin-right: 16px;

          img {
            height: 45px;
            width: 45px;
          }
        }
      }
    }
  }

  @media(min-width: 1280px) {
    section.introduction {
      div.container {
        h2 {
          font-size: 60px;
        }
      }
    }

    section.essential {
      margin: 10px 65px;

      div.features {
        p {
          font-size: 26px;
        }
      }

      div.social-media {
        a {
          margin-right: 20px;

          img {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }

  @media(min-width: 1600px) {
    section.introduction {
      div.container {
        h1 {
          padding-bottom: 20px;
          font-size: 28px;
        }

        h2 {
          font-size: 78px;
        }
      }
    }

    section.essential {
      margin: 10px 80px;

      div.features {
        p {
          font-size: 32px;
        }
      }

      div.social-media {
        a {
          margin-right: 22px;

          img {
            height: 55px;
            width: 55px;
          }
        }
      }
    }
  }

  @keyframes slideUp {
    100% {
      transform: translateY(0)
    }
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}