header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.45fr 0.55fr;
  grid-template-areas: 'introduction''essential';
  height: 100vh;
  overflow: hidden;

  section.top-bar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100vw;
    background-color: transparent;
    z-index: 1;

    .hamburger {
      display: inline-block;
      padding: 8px;
      margin-right: 10px;
      border: 0;
      border-radius: 50%;
      background-color: black;

      &__box {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
      }

      &__inner {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &__inner::before,
      &__inner::after {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 1px;
        background-color: white;
        transition: transform .2s .1s linear;
      }

      &__inner::before {
        transform: translateY(-3px);
      }

      &__inner::after {
        transform: translateY(3px);
      }
    }
  }

  section.top-bar.on {
    .hamburger {

      &__inner::before {
        transform: translateY(0) rotate(45deg);
      }

      &__inner::after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }

  section.introduction {
    grid-area: introduction;
    justify-self: center;
    align-self: center;
    z-index: -1;

    div.container {
      overflow: hidden;

      h1,
      h2 {
        font-weight: 400;
        text-align: center;
        transform: translateY(100%);
      }

      h1 {
        font-size: 20px;
        padding-bottom: 8px;
        animation: slideUp .3s .3s ease-out both;
      }

      h2 {
        font-size: 34px;
        line-height: 1.1em;
        text-transform: uppercase;
        animation: slideUp .3s ease-out both;
      }
    }
  }

  section.essential {
    grid-area: essential;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 10px 20px;
    transform: translateY(105%);
    animation: slideUp .3s .6s ease-out both;

    div.features {
      p {
        font-size: 15px;
        line-height: 1.6em;
        font-weight: 300;
      }
    }

    div.social-media {
      a {
        margin-right: 8px;

        svg {
          height: 30px;
          width: 30px;
        }
      }

      a:nth-last-of-type(1) {
        margin-right: 0;
      }
    }
  }

  @media (orientation: landscape) {
    section.essential {
      flex-flow: row-reverse wrap;
      align-items: center;

      div.social-media {
        align-self: flex-end;

        a {
          svg {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
  }

  @media (min-width: 360px) and (orientation: portrait) {
    grid-template-rows: 1.5fr 0.5fr;

    section.introduction {
      div.container {
        h1 {
          font-size: 22px;
        }

        h2 {
          font-size: 36px
        }
      }
    }

    section.essential {
      div.features {
        p {
          font-size: 17px;
        }
      }

      div.social-media {
        a {
          svg {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
  }

  @media (min-width: 730px) and (orientation: landscape) {
    section.introduction {
      div.container {
        h1 {
          font-size: 22px;
        }

        h2 {
          font-size: 36px
        }
      }
    }

    section.essential {
      div.features {
        p {
          font-size: 18px;
        }
      }

      div.social-media {
        a {
          svg {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

  @media(min-width: 768px) and (orientation: portrait) {
    section.top-bar {
      height: 90px;

      .hamburger {
        padding: 16px;
        margin-right: 16px;

        &__box {
          width: 34px;
          height: 34px;
        }

        &__inner::before,
        &__inner::after {
          width: 34px;
        }

        &__inner::before {
          transform: translateY(-5px);
        }

        &__inner::after {
          transform: translateY(5px);
        }
      }
    }

    section.introduction {
      div.container {
        h1 {
          font-size: 36px;
        }

        h2 {
          font-size: 54px;
        }
      }
    }

    section.essential {
      margin: 20px 40px;

      div.features {
        p {
          font-size: 26px;
        }
      }

      div.social-media {
        a {
          margin-right: 14px;

          svg {
            height: 50px;
            width: 50px;
          }
        }

        a:nth-last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }

  @media(min-width: 1024px) and (orientation: portrait) {
    section.top-bar {
      height: 120px;

      .hamburger {
        padding: 20px;
        margin-right: 20px;

        &__box {
          width: 45px;
          height: 45px;
        }

        &__inner::before,
        &__inner::after {
          width: 45px;
          height: 2px;
        }

        &__inner::before {
          transform: translateY(-6px);
        }

        &__inner::after {
          transform: translateY(6px);
        }
      }
    }

    section.introduction {
      div.container {
        h1 {
          font-size: 50px;
        }

        h2 {
          font-size: 78px;
        }
      }
    }

    section.essential {
      margin: 20px 40px;

      div.features {
        p {
          font-size: 34px;
        }
      }

      div.social-media {
        a {
          margin-right: 24px;

          svg {
            height: 70px;
            width: 70px;
          }
        }

        a:nth-last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }

  @media(min-width: 1024px) and (orientation: landscape) {
    grid-template-rows: 1.6fr 0.4fr;

    section.top-bar {
      display: none;
    }

    section.introduction {
      div.container {
        h2 {
          font-size: 56px;
        }
      }
    }

    section.essential {
      margin: 10px 60px;

      div.features {
        p {
          font-size: 26px;
          line-height: 1.3em;
        }
      }

      div.social-media {
        align-self: center;

        a {
          margin-right: 16px;

          svg {
            height: 45px;
            width: 45px;
          }
        }
      }
    }
  }

  @media(min-width: 1280px) {
    section.introduction {
      div.container {
        h2 {
          font-size: 60px;
        }
      }
    }

    section.essential {
      margin: 10px 65px;

      div.features {
        p {
          font-size: 26px;
        }
      }

      div.social-media {
        a {
          margin-right: 20px;

          svg {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }

  @media(min-width: 1600px) {
    section.introduction {
      div.container {
        h1 {
          padding-bottom: 20px;
          font-size: 28px;
        }

        h2 {
          font-size: 78px;
        }
      }
    }

    section.essential {
      margin: 10px 80px;

      div.features {
        p {
          font-size: 32px;
        }
      }

      div.social-media {
        a {
          margin-right: 22px;

          svg {
            height: 55px;
            width: 55px;
          }
        }
      }
    }
  }

  @keyframes slideUp {
    100% {
      transform: translateY(0)
    }
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}