main {
    section.introduction {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.45fr 1.55fr;
        grid-template-areas: 'quotation''about-me';

        div.quotation {
            grid-area: quotation;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                flex-basis: 85vw;
                font-size: 34px;
                font-weight: 400;
                line-height: 1.3em;
            }
        }

        section.about-me {
            grid-area: about-me;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            div {
                flex-basis: 80vw;
                margin-bottom: 65px;

                p {
                    font-size: 16px;
                }

                :last-child {
                    color: #6f6f6f;
                    margin-top: 6px;
                    line-height: 1.6em;
                    font-weight: 300;
                }
            }
        }
    }

    section.offer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.6fr 0.6fr 0.6fr;
        grid-template-areas: 'proffer''ui''web''seo';
        padding: 60px 20px;
        background-color: #000;
        color: white;

        div.proffer::before {
            content: "";
            height: 1px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 15px;
        }

        div.proffer {
            grid-area: proffer;
            justify-content: space-between;

            p {
                text-transform: uppercase;
            }

            h3 {
                flex-basis: 60vw;
                font-size: 23px;
                font-weight: 400;
                line-height: 1em;
            }
        }

        p.aside {
            display: none;
        }

        div {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 100px;

            p {
                font-size: 15px;
                line-height: 1.4em;
            }

            p.screen {
                display: none;
            }

            h4 {
                margin: 22px 0 35px 0;
                font-size: 26px;
                font-weight: 300;
                line-height: 1.2em;
            }

            div.wrap {
                flex-direction: column;
                margin: 0;
            }
        }

        div.ui,
        div.web,
        div.seo {
            >p {
                width: 100%;
            }

            >p::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: #fff;
                margin-top: 8px;
            }
        }

        div.ui {
            grid-area: ui;
        }

        div.web {
            grid-area: web;
        }

        div.seo {
            grid-area: seo;
            margin-bottom: 40px;
        }
    }

    section.projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr;
        grid-template-areas: 'projects''elements';
        min-height: 100vh;
        padding: 0 20px;

        h3 {
            grid-area: projects;
            display: flex;
            align-items: center;
            font-size: 26px;
            font-weight: 400;
        }

        div.wrapper {
            grid-area: elements;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            div.project {
                flex-basis: 100%;
                margin-bottom: 60px;

                p {
                    font-size: 15px;
                }

                &>p:first-child::before {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: #707070;
                    margin-bottom: 10px;
                }

                p+a {
                    text-decoration: none;
                }

                p+a>p,
                p+p {
                    color: #6f6f6f;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                img {
                    height: auto;
                    width: 100%;
                }

                &.in-progress {

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 30%;
                    }
                }
            }
        }
    }

    @media (orientation: landscape) {
        section.introduction {
            div.quotation {
                justify-content: flex-start;
                margin-left: 20px;

                h3 {
                    flex-basis: 70vw;
                }
            }

            section.about-me {
                justify-content: space-around;
                margin-top: 20px;

                div {
                    flex-basis: 40vw;
                }
            }
        }

        section.offer {
            padding: 60px 30px;

            div {
                margin-bottom: 85px;

                h4 {
                    line-height: 1.3em;
                }
            }

            div.seo {
                margin-bottom: 25px;
            }
        }

        section.projects {
            min-height: 125vh;

            div.wrapper {
                justify-content: space-between;

                div.project {
                    flex-basis: 45%;
                }
            }
        }
    }

    @media (min-width: 360px) and (orientation: portrait) {
        section.introduction {
            div.quotation {
                h3 {
                    flex-basis: 74vw;
                }
            }
        }
    }

    @media (min-width: 640px) and (orientation: landscape) {
        section.introduction {
            section.about-me {
                margin-top: 35px;
            }
        }

        section.offer {
            padding: 60px 40px;

            div {
                margin-bottom: 90px;

                h4 {
                    line-height: 1.4em;
                }
            }

            div.proffer {
                h3 {
                    flex-basis: 50vw;
                    line-height: 1.1em;
                }
            }
        }

        section.projects {
            min-height: 120vh;
        }
    }

    @media (min-width: 730px) and (orientation: landscape) {
        section.introduction {
            div.quotation {
                h3 {
                    flex-basis: 55vw;
                }
            }

            section.about-me {
                div {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        section.offer {
            padding: 60px 50px;

            div {
                p {
                    font-size: 16px;
                }
            }

            div.proffer {
                h3 {
                    flex-basis: 45vw;
                }
            }
        }

        section.projects {
            div.wrapper {
                div.project {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) and (orientation: portrait) {
        section.introduction {
            div.quotation {
                justify-content: flex-start;
                margin: 60px 0 0 40px;

                h3 {
                    flex-basis: 70vw;
                    font-size: 52px;
                }
            }

            section.about-me {
                justify-content: space-around;
                margin-top: 80px;

                div {
                    flex-basis: 42vw;
                    margin-bottom: 80px;

                    p {
                        font-size: 20px;
                    }
                }
            }
        }

        section.offer {
            padding: 60px 50px;

            div {
                p {
                    font-size: 20px;
                }

                h4 {
                    margin: 32px 0 45px 0;
                    font-size: 36px;
                }
            }

            div.wrap {
                p {
                    line-height: 1.5em;
                }
            }

            div.proffer::before {
                margin-bottom: 25px;
            }

            div.proffer {
                h3 {
                    flex-basis: 45vw;
                    font-size: 28px;
                }
            }
        }

        section.projects {
            grid-template-rows: 0.3fr 0.7fr;
            padding: 0 30px;
            min-height: 60vh;

            h3 {
                font-size: 40px;
            }

            div.wrapper {
                justify-content: space-around;

                div.project {
                    flex-basis: 45%;

                    p {
                        font-size: 20px;
                    }

                    p+a>p,
                    p+p {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) and (orientation: portrait) {
        section.introduction {
            div.quotation {
                margin: 80px 0 0 60px;

                h3 {
                    font-size: 62px;
                }
            }

            section.about-me {
                margin-top: 100px;

                div {
                    flex-basis: 40vw;
                    margin-bottom: 100px;

                    p {
                        font-size: 30px;
                    }
                }
            }
        }

        section.offer {
            padding: 80px 70px;

            div {
                margin-bottom: 150px;

                p {
                    font-size: 30px;
                }

                h4 {
                    margin: 52px 0 65px 0;
                    font-size: 56px;
                }
            }

            div.proffer::before {
                margin-bottom: 45px;
            }

            div.proffer {
                h3 {
                    flex-basis: 50vw;
                    font-size: 38px;
                }
            }
        }

        section.projects {
            padding: 0 45px;

            h3 {
                font-size: 56px;
            }

            div.wrapper {
                justify-content: space-between;

                div.project {
                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) and (orientation: landscape) {
        section.introduction {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: 'quotation quotation quotation .''. about-me about-me about-me';
            margin: 0 60px 60px 60px;

            div.quotation {
                height: 50vh;

                h3 {
                    font-size: 48px;
                }
            }

            section.about-me {
                justify-content: space-between;
                align-items: center;
                height: 80vh;
                margin: 60px 0 60px 0;
                padding-left: 50px;

                :nth-child(1) {
                    order: 1;
                }

                :nth-child(2) {
                    order: 3;
                }

                :nth-child(3) {
                    order: 5;
                }

                :nth-child(4) {
                    order: 7;
                }

                :nth-child(5) {
                    order: 2;
                }

                :nth-child(6) {
                    order: 4;
                }

                :nth-child(7) {
                    order: 6;
                }

                :nth-child(8) {
                    order: 8;
                }

                div {
                    flex-basis: 40%;
                    margin-bottom: 0px;

                    p {
                        font-size: 15px;
                    }

                    :last-child {
                        line-height: 1.3em;
                    }
                }
            }
        }

        section.offer {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'proffer proffer''. ui''. web''. seo';
            padding: 60px 65px;

            div.proffer::before {
                margin: 30px 0 25px 0;
            }

            div.proffer {
                justify-content: flex-start;

                h3 {
                    margin: 60px 0 40px 60px;
                    font-size: 42px;
                }
            }

            p.aside {
                display: block;
                font-size: 14px;
            }

            p.aside::after {
                content: "";
                display: block;
                height: 1px;
                width: 65%;
                background-color: #fff;
                margin-top: 25px;
            }

            div {
                margin-bottom: 140px;

                p {
                    font-size: 14px;
                }

                p.screen {
                    display: block;
                }

                p.mobile {
                    display: none;
                }

                h4 {
                    margin: 50px 0 50px 0;
                }
            }

            div.ui,
            div.web,
            div.seo {
                p.screen::after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: #fff;
                    margin-top: 25px;
                }
            }

            div.web {
                div.wrap {
                    flex-flow: row wrap;
                    justify-content: space-between;

                    :nth-child(1) {
                        order: 1;
                        flex-basis: 50%;
                    }

                    :nth-child(2) {
                        order: 3;
                        flex-basis: 50%;
                    }

                    :nth-child(3) {
                        order: 2;
                        flex-basis: 38%;
                    }

                    :nth-child(4) {
                        order: 4;
                        flex-basis: 38%;
                    }
                }
            }

            div.seo {
                margin-bottom: 105px
            }
        }

        section.projects {
            grid-template-rows: 0.4fr 0.6fr;
            min-height: 100vh;
            padding: 0 60px;

            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 36px;
            }

            div.wrapper {
                div.project {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    @media (min-width: 1280px) {
        section.introduction {
            div.quotation {
                h3 {
                    flex-basis: 50vw;
                    font-size: 56px;
                }
            }

            section.about-me {
                justify-content: space-around;
                padding-left: 100px;

                div {
                    flex-basis: 34%;

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        section.offer {
            padding: 60px 80px;

            div.proffer {
                h3 {
                    margin: 80px 0 40px 100px;
                    font-size: 50px;
                }
            }

            p.aside {
                font-size: 16px;
            }

            div {
                margin-bottom: 160px;

                p {
                    font-size: 16px;
                    line-height: 1.5em;
                }

                h4 {
                    margin: 50px 0 60px 0;
                    font-size: 30px;
                    line-height: 1.3em;
                }
            }

            div.seo {
                margin-bottom: 135px
            }
        }

        section.projects {

            h3 {
                font-size: 42px;
            }

            div.wrapper {
                div.project {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media (min-width:1440px) {
        section.offer {

            div.web,
            div.ui,
            div.seo {
                width: 90%;
            }
        }

        section.projects {
            padding: 0 80px;

            div.wrapper {
                justify-content: flex-start;
                padding-top: 25px;

                div.project {
                    flex-basis: 33%;
                    margin-right: 100px;
                }
            }
        }
    }

    @media (min-width: 1600px) {
        section.introduction {
            margin: 0 60px 120px 60px;

            div.quotation {
                margin-left: 100px;

                h3 {
                    flex-basis: 46vw;
                    font-size: 72px;
                    line-height: 1.2em;
                }
            }

            section.about-me {
                margin: 100px 0;
                padding-left: 265px;
                height: 70vh;

                div {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }

        section.offer {
            padding: 125px 175px;

            div.proffer {
                h3 {
                    flex-basis: 30vw;
                    font-size: 60px;
                }
            }

            p.aside {
                font-size: 18px;
            }

            div {
                margin-bottom: 225px;

                p {
                    font-size: 18px;
                }

                h4 {
                    font-size: 32px;
                }
            }
        }

        section.projects {
            min-height: 115vh;

            h3 {
                font-size: 56px;
            }

            div.wrapper {
                padding-top: 50px;

                div.project {
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}