main {
    section.introduction {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.45fr 1.55fr;
        grid-template-areas: 'quotation''about-me';

        div.quotation {
            grid-area: quotation;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                flex-basis: 85vw;
                font-size: 34px;
                font-weight: 400;
                line-height: 1.3em;
            }
        }

        section.about-me {
            grid-area: about-me;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            div {
                flex-basis: 80vw;
                margin-bottom: 65px;

                p {
                    font-size: 15px;
                }

                :last-child {
                    margin-top: 6px;
                    line-height: 1.6em;
                    font-weight: 300;
                }
            }
        }
    }

    section.offer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.6fr 0.6fr 0.6fr;
        grid-template-areas: 'proffer''ui''web''seo';
        padding: 60px 20px;
        background-color: #000;
        color: white;

        div {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 100px;

            p {
                font-size: 15px;
                line-height: 1.4em;
            }

            p.screen {
                display: none;
            }

            h4 {
                margin: 22px 0 35px 0;
                font-size: 26px;
                font-weight: 300;
                line-height: 1.2em;
            }

            div.wrap {
                flex-direction: column;
                margin: 0;
            }
        }

        div.proffer::before {
            content: "";
            height: 1px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 15px;
        }

        div.proffer {
            grid-area: proffer;
            justify-content: space-between;

            p {
                text-transform: uppercase;
            }

            h3 {
                flex-basis: 60vw;
                font-size: 23px;
                font-weight: 400;
                line-height: 1em;
            }
        }

        div.ui,
        div.web,
        div.seo {
            >p {
                width: 100%;
            }

            >p::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: #fff;
                margin-top: 8px;
            }
        }

        div.ui {
            grid-area: ui;
        }

        div.web {
            grid-area: web;
        }

        div.seo {
            grid-area: seo;
            margin-bottom: 40px;
        }
    }

    section.projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.75fr;
        grid-template-areas: 'projects''first';
        height: 100vh;
        padding: 45px 20px;

        h3 {
            grid-area: projects;
            font-size: 26px;
            font-weight: 400;
        }

        div.wrapper {
            grid-area: first;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            div.project {
                margin-right: 15px;

                p {
                    font-size: 15px;
                }

                p:first-child::before {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: #000;
                    margin-bottom: 10px;
                }

                p+p {
                    color: #7C7C7C;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    @media (orientation: landscape) {
        section.introduction {
            div.quotation {
                justify-content: flex-start;
                margin-left: 20px;

                h3 {
                    flex-basis: 70vw;
                }
            }

            section.about-me {
                justify-content: space-around;
                margin-top: 20px;

                div {
                    flex-basis: 40vw;
                }
            }
        }

        section.offer {
            padding: 60px 30px;

            div {
                margin-bottom: 85px;

                h4 {
                    line-height: 1.3em;
                }
            }

            div.seo {
                margin-bottom: 25px;
            }
        }

        section.projects {
            height: 150vh;

            div.wrapper {
                div.project {
                    flex-basis: 50%;
                }
            }
        }
    }

    @media (min-width: 360px) and (orientation: portrait) {
        section.introduction {
            div.quotation {
                h3 {
                    flex-basis: 80vw;
                }
            }
        }
    }

    @media (min-width: 640px) and (orientation: landscape) {
        section.introduction {
            section.about-me {
                margin-top: 35px;
            }
        }

        section.offer {
            padding: 60px 40px;

            div {
                margin-bottom: 90px;

                h4 {
                    line-height: 1.4em;
                }
            }

            div.proffer {
                h3 {
                    flex-basis: 50vw;
                    line-height: 1.1em;
                }
            }
        }
    }

    @media (min-width: 730px) and (orientation: landscape) {
        section.introduction {
            div.quotation {
                h3 {
                    flex-basis: 55vw;
                }
            }

            section.about-me {
                div {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        section.offer {
            padding: 60px 50px;

            div {
                p {
                    font-size: 16px;
                }
            }

            div.proffer {
                h3 {
                    flex-basis: 45vw;
                }
            }
        }

        section.projects {
            div.wrapper {
                div.project {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) and (orientation: portrait) {
        section.introduction {
            div.quotation {
                justify-content: flex-start;
                margin: 60px 0 0 40px;

                h3 {
                    flex-basis: 70vw;
                    font-size: 52px;
                }
            }

            section.about-me {
                justify-content: space-around;
                margin-top: 80px;

                div {
                    flex-basis: 42vw;
                    margin-bottom: 80px;

                    p {
                        font-size: 20px;
                    }
                }
            }
        }

        section.offer {
            padding: 60px 50px;

            div {
                p {
                    font-size: 20px;
                }

                h4 {
                    margin: 32px 0 45px 0;
                    font-size: 36px;
                }
            }

            div.wrap {
                p {
                    line-height: 1.5em;
                }
            }

            div.proffer::before {
                margin-bottom: 25px;
            }

            div.proffer {
                h3 {
                    flex-basis: 45vw;
                    font-size: 28px;
                }
            }
        }

        section.projects {
            padding: 45px 25px;

            h3 {
                font-size: 36px;
            }

            div.wrapper {
                div.project {
                    flex-basis: 50%;

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) and (orientation: portrait) {
        section.introduction {
            div.quotation {
                margin: 80px 0 0 60px;

                h3 {
                    font-size: 62px;
                }
            }

            section.about-me {
                margin-top: 100px;

                div {
                    flex-basis: 40vw;
                    margin-bottom: 100px;

                    p {
                        font-size: 30px;
                    }
                }
            }
        }

        section.offer {
            padding: 80px 70px;

            div {
                margin-bottom: 150px;

                p {
                    font-size: 30px;
                }

                h4 {
                    margin: 52px 0 65px 0;
                    font-size: 56px;
                }
            }

            div.proffer::before {
                margin-bottom: 45px;
            }

            div.proffer {
                h3 {
                    flex-basis: 50vw;
                    font-size: 38px;
                }
            }
        }

        section.projects {
            padding: 65px 45px;

            h3 {
                font-size: 56px;
            }

            div.wrapper {
                div.project {
                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}