nav.mobile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    transform: translateY(100vh);
    transition: transform 1.1s .1s cubic-bezier(.19, 1, .22, 1);

    ul {
        list-style: none;

        li {
            margin-left: 30px;
            padding: 6px 0;

            a {
                font-size: 36px;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    @media (orientation: landscape) {
        ul {
            li {
                a {
                    font-size: 30px;
                }
            }
        }
    }

    @media (min-width: 360px) and (orientation: portrait) {
        ul {
            li {
                a {
                    font-size: 40px;
                }
            }
        }
    }

    @media (min-width: 640px) and (orientation: landscape) {
        ul {
            li {
                a {
                    font-size: 36px;
                }
            }
        }
    }

    @media (min-width: 768px) and (orientation: portrait) {
        ul {
            li {
                padding: 12px 0;

                a {
                    font-size: 54px;
                }
            }
        }
    }

    @media (min-width: 1024px) and (orientation: portrait) {
        ul {
            li {
                padding: 14px 0;

                a {
                    font-size: 78px;
                }
            }
        }
    }
}



nav.mobile.on {
    transform: translateY(0);
}